body {
  margin: 10px;
  width: 100vw;
  /* background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
}

h1 {
color: white;
background-color: #68B684;
}

h2 {
  font-family: montserrat;
  font-weight: bold;
  font-size: 40pt;
  line-height: 10pt;
  color: #68B684;
}

h3 {
  font-family: lora;
  font-weight: italic;
  font-size: 18pt;
  color: #5f6988;
  line-height: 7pt;
}

p {
  font-family: lora, Arial, Helvetica, sans-serif;
  font-size: 11pt;
  display: flex;
}

img {
  /* display: flex;
  flex-wrap: wrap; */
  width: 40%;
}